<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QRCode Generator</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body class="bg-gray-300 p-5 my-[25vh]">
    <div class="text-black font-bold text-2xl mb-5 text-center">
      QRCode Generator
    </div>
    <form method="post" class="bg-white p-5 rounded-2xl w-sm mx-auto my-auto">
      <label for="data" class="text-gray-500">Enter the data</label>
      <input
        type="text"
        name="data"
        class="border border-gray-400 py-1 w-full rounded mt-2 focus:border-blue-500 outline-0 focus:border-2 px-2"
        required
      />
      <button class="bg-blue-500 text-white py-1 px-3 mt-2 rounded">
        Generate QR Code
      </button>
    </form>
  </body>
</html>
